body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#green {
  font-family: KidTYPE;
  color: #71bc78;
}
#orange {
  font-family: KidTYPE;
  color: #fd5e53;
}
#blue {
  font-family: KidTYPE;
  color: #78dbe2;
}
#purple {
  font-family: KidTYPE;
  color: #7442c8;
}
#yellow {
  font-family: KidTYPE;
  color: #ffa343;
}
#aboutMeModal {
  display: inline-block;
  position: fixed;
  left: 20%;
  top: 45%;
}
#resumePage {
  display: inline-block;
  position: fixed;
  left: 45%;
  top: 45%;
}
#projectsPage {
  display: inline-block;
  position: fixed;
  left: 70%;
  top: 45%;
}
#readAboutFelix {
  display: inline-block;
  position: fixed;
  top: 15%;
  left: 2%;
}
#resume {
  display: inline-block;
  position: fixed;
  top: 75%;
  left: 43%;
}
#projects {
  display: inline-block;
  position: fixed;
  top: 22%;
  left: 68%;
}
#felixProfil {
  border-radius: 50%;
  max-width: 250px;
  max-height: 300px;
}
#greenArrow {
  display: block;
  position: absolute;
  height: 35%;
  width: 17%;
  margin-left: 47%;
  margin-top: 25%;
  transform: rotate(222deg);
}
#blueArrow {
  display: block;
  position: absolute;
  height: 25%;
  width: 13%;
  margin-left: 13%;
  margin-top: 10%;
  transform: rotate(59deg);
}
#purpleArrow {
  display: block;
  position: absolute;
  height: 17%;
  width: 8%;
  margin-left: 68%;
  margin-top: 14%;
}
